.form-title {
    font-size: 24px;
    color: #ff6c66;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    border: 1px solid  #FFAB62;
    background-color: #FCFCFC;
    border-radius: 5px;
    padding: 25px;
    width: min-content;
    margin: 150px auto;
    font-family: forma-djr-deck, sans-serif;

}
.form-submit-button {
    background-color: #FFAB62;
    border-radius: 5px;
    font-family: forma-djr-deck, sans-serif;

}

.register-form-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.tagline-container {
    margin-right: 100px;
    margin-bottom: 100px;
    flex: 0 0 23%;
    font-display: left-justified;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}

.tagline-title {
    font-size: 32px;
    color: #ff6c66;
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;

}