
.navbar {
  border-bottom: 1px solid #ffab6260;
  width: 100vw;
}
.navbar-logo {
  font-family: filson-pro, sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #ffab62;
}

.navbar-item {
  color: #ff6c66 !important;
  font-size: 18px;
  font-family: forma-djr-deck, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.left-navbar {
  margin-right: 700px;
}

.right-navbar {
  margin-right: 200px;
}

.switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 52px;
}

.switch input {
  display:none;
}



.logoutBtn:hover {
  cursor: pointer;
}

.logoutBtn {
  border: 1px solid #ff6c66;
  border-radius: 5px;
  padding: 0px;
  width: 75px;
  margin-top: 28px;
}